@font-face {
    font-family: 'Bjola';
    src: url("./assets/bjola.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: 'Bjola';
}

body {
    background-color: #ffe600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #1A169A;
    -webkit-text-stroke: 2px #fff;
    font-size: 64px;
}